.form-control {
    border-radius: 3px;
    width: 500px;
    margin: 13px 0px 13px 270px;
    height: 30px;
}

header{
    background-color: rgb(238, 238, 238);
}
span{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 500;
}
.fonti{
    padding: 6px;
}
